.Header {box-sizing: border-box;




display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 11px 220px 11px 219px;
gap: 10px;

position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 0px;

background: rgba(34, 34, 40, 0.8);
border: 1px solid rgba(63, 63, 74, 0.6);}

.Header a {
    text-decoration: none;


    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 15px */

    letter-spacing: -0.005em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Header a:hover{
    cursor: pointer;
   color: #79109D;
}



.logo {
    width: 70px;
    height: 70px;

}

.logo:hover{
    transform: scale(120%);
    transition: 1s;
}

.User_info{

display: flex;
    flex-direction:column;
    color: #FFFFFF;
    justify-content: center;

}

.User_info button {
    background-color: grey;
    border: none;
    height: 20px;
}

.User_info button:hover{
    cursor: pointer;
    background-color: #79109D;
}


.user_logo{
    width: 40px;
    height: 40px;
    padding-left: 5px;


}