.Card_Dark{
    border-radius: 20px;
    width: 600px;
    height: 400px;
    color: white;
    background-color: #232229;
    margin: 5px;
    padding: 10px;
}

.Card_Light{
    border-radius: 20px;
    width: 600px;
    height: 400px;
    color: black;
    background-color:rgba(121, 16, 157, 0.25);
    margin: 5px;
    padding: 10px;
}


.Card_Dark button {
    background-color: rgba(121, 16, 157, 0.25);
    margin-top: 30px;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.Card_Light button {
    background-color: rgba(121, 16, 157, 0.25);
    margin-top: 30px;
    border: 1px solid  #79109D;;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.Card_Dark button:hover{
    background-color: #79109D;
    transition: 1s;
    cursor: pointer;
    transform: scale(110%);

}

.Card_Light button:hover{
    background-color:  #79109D;
    transition: 1s;
    cursor: pointer;
    transform: scale(110%);

}







.Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    border-bottom:1px solid rgba(121, 16, 157, 0.25);
    height: 16%;
    margin-bottom: 10px;

}


.Title p {
    padding-left: 10px;
}



.Description{
    display: flex;


}

.Poster{

}

.Poster img {
    width: 200px;
    height: 300px;
}

.Short_info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;




}


.GenreTags{
    display: flex;
    flex-direction:row;

}